<div class="container">
    <h2>{{$ctrl.ecole.name}} de {{$ctrl.ecole.ville}}</h2>
    <div class="row">
        <label>Code</label>
        <span> {{$ctrl.ecole._id}} </span>
    </div>
    <div class="row">
        <label>Adresse</label>
        <span> {{$ctrl.ecole.adresse}} </span>
    </div>
    <div class="row">
        <label>Code Postal</label>
        <span> {{$ctrl.ecole.codePostal}} </span>
    </div>
    <div class="row">
        <label>Ville</label>
        <span> {{$ctrl.ecole.ville}} </span>
    </div>
    <div class="row">
        <label>Nombre de Classes</label>
        <span> {{$ctrl.ecole.nbClasses}} </span>
    </div>

    <div class="row">
        <h3>Liste des prefesseurs rattachées à cet établissement</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Numéro</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
            </tr>
            <tr ng-repeat="item in $ctrl.rattachement">
                <td>{{item.instit._id}}</td>
                <td>{{item.instit.firstName}}</td>
                <td>{{item.instit.lastName}}</td>
                <td>{{item.instit.birthDate}}</td>
            </tr>
        </table>
    </div>

</div>
