<div class="container">
    <h2>{{$ctrl.ecole.name}} de {{$ctrl.ecole.ville}}</h2>
    <div class="row">
        <label>Code</label>
        <span> {{$ctrl.ecole.code}} </span>
    </div>
    <div class="row">
        <label>Adresse</label>
        <span> {{$ctrl.ecole.adresse}} </span>
    </div>
    <div class="row">
        <label>Code Postal</label>
        <span> {{$ctrl.ecole.codePostal}} </span>
    </div>
    <div class="row">
        <label>Ville</label>
        <span> {{$ctrl.ecole.ville}} </span>
    </div>
    
</div>
